rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /companies/{companyId} {
      allow read, write: if request.auth != null;
      match /bills/{billId} {
        allow read, write: if request.auth != null;
        match /payments/{paymentId} {
          allow read, write: if request.auth != null;
        }
      }
    }
    match /quotations/{id} {
      allow read, write: if request.auth != null;
    }
    match /businessFields/{id} {
      allow read, write: if request.auth != null;
    }

    // Collection group access for dashboard real-time listeners
    match /{path=**}/bills/{billId} {
      allow read: if request.auth != null;
    }
    match /{path=**}/payments/{paymentId} {
      allow read: if request.auth != null;
    }
  }
}
